body {
  background-color: #ffffff;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-title {
  text-align: left;
  color: #282c2f;
  margin: 0;
}

#login-title+h6 {
  color: #a6a7ab;
}

#login-main>form>button {
  background: #25a6d5;
  padding: 10px 25px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
}