body {
  background-color: #ffffff;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-title, #login-title:hover {
  text-align: left;
  color: #25a6d5;
  margin: 0;
  text-decoration: none;
  font-size: 1.7rem;
}

a:hover {
  text-decoration: none;
}

#login-title+h6 {
  color: #a6a7ab;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 50px;
  background: white;
}

main {
  height: 100vh;
  padding-top: 50px;
}

aside{
  width: 5%;
}

section {
  width: 95%;
  background: rgb(207, 207, 207);
}

.menu-icon>svg:hover, .menu-icon>svg:active {
  fill: #25a6d5;
}